<!--<h1 style="text-align:center">Luqy Movie Database</h1>-->

<!-- <div id="top"> -->
<%= audio_tag "StarWars.mp3", autoplay: true %>

  <div id="logotop">
  <%= image_tag("LuqySevenLogo.png", :alt => "LuqySevenLogo", :height => "30%", :width => "30%") %>
  </div>

  <div id="midi">
    <center>
      <h3><%= form_tag movies_path,  :method=> 'get' do %>
        <%= label_tag "Search Movies:" %> &nbsp;
        <%= text_field_tag :search, params[:search] %> &nbsp;
        <%= submit_tag "LIFT OFF!", :name=> nil %>
      <% end %></h3>
      <h3 class="buttonLink" style="text-align:center"><%= link_to 'Add Movie', new_movie_path %>
    </center>
  </div>
  <h3><center><%= link_to image_tag("AmazonPrimeLogo.png", :alt => "AmazonPrimeLogo", :width => "25px"), :sort => "amazon DESC"%> = Amazon Prime
	<%= link_to image_tag("NetflixLogo.png", :alt => "NetflixLogo", :width => "25px"), :sort => "netflix DESC"%> = Netflix
	<%= link_to image_tag("HuluLogo.png", :alt => "HuluLogo", :width => "25px"), :sort => "hulu DESC"%> = Hulu</center></h3>
	<h4><center>Click a Rocket above to find movies on the site you choose!</center></h4>
<!-- </div> -->
<div id="wrapper">	
	<div id="HomeAdLeft">
		<%= image_tag("StarWarsAdLeft.jpg", :width => "100%")%>
	</div>	
	<div id="HomeAdRight">
		<%= image_tag("StarWarsAdRight.jpg", :width => "100%")%>
	</div>	
<div id="content">
  <table border="1" style="width:75%; margin:auto">
    <tr>
      <th><%= link_to "Title", :sort => "title" %></th>
      <th>Streaming Services</th>
  	  <th><%= link_to "Year Released", :sort => "year" %></th>
    </tr>
    <% @movies.each do |movie| %>
    <tr style="height: 50px">
      <td><%= link_to movie.title, movie_path(movie) %></td>
  	  <td style="text-align:center; width: 100px"><%= if movie.amazon == "Yes" then image_tag "AmazonPrimeLogo.png" end %>
  	  <%= if movie.netflix == "Yes" then image_tag "NetflixLogo.png" end %>
  	  <%= if movie.hulu == "Yes" then image_tag "HuluLogo.png" end %></td>
      <td style="text-align:center; width: 100px"><%= movie.year %></td>
    </tr>
    <% end %>
  </table>
</div>
</div>
<%= link_to image_tag("si.png", :alt => "SI", :width => "100px"), '/game' %>
