<center><%= image_tag("LuqySevenLogo.png", :alt => "LuqySevenLogo", :height => "30%", :width => "30%") %></center>

<div id="content">

<h1>Add New Movie</h1>
<%= form_for :movie, url: movies_path do |f| %>
<center>
<p>
	<%= f.label :title%><br>
	<%= f.text_field :title %>
</p>
<p>
	<%= f.label :year_released %><br>
	<%= f.text_field :year %>
</p>
<p>
	<%= f.label :runtime %><br>
	<%= f.text_field :runtime %>
</p>

<p>
	<%= f.label :director %><br>
	<%= f.text_field :director %>
</p>
<p>
	<%= f.label :description %><br>
	<%= f.text_area :description %>
</p>
<p>
	<%= f.label :netflix? %><br>
	<%= f.text_field :netflix %>
</p>
<p>
	<%= f.label :hulu? %><br>
	<%= f.text_field :hulu %>
</p>
<p>
	<%= f.label :amazon? %><br>
	<%= f.text_field :amazon %>
</p>
<p>
	<%= f.submit %>
</p>
<% end %>

<%= link_to 'Back to Movie List', movies_path, :class=>"buttonLink"%>
</center>
</div>
