<!DOCTYPE html>
<html>
<head>
  <title>Se7en</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application'%>
  <%= javascript_include_tag 'parallax.js'%>
  <%= csrf_meta_tags %>
</head>
<body bgcolor="black">	
<font color="white">
<div class="parallax-window" data-parallax="scroll" data-image-src=<%= image_url "maxresdefault.jpg"%> style="min-height: 1200px;
    background: transparent;">

<%= yield %>

</div>
</font>
</body>
</html>
